pub mod {{name}} {
{{#constants}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    pub const {{name}}: {{{type}}} = {{{value}}};{{#tagLiteralsInlineAfter}} {{{.}}}{{/tagLiteralsInlineAfter}}
{{/constants}}
}

