{{macroTraitsExpr}}
pub enum {{name}} {
{{#enumerations}}
    {{name}},
{{/enumerations}}
}

{{#hasLiteralValue}}
impl {{name}} {
    const fn value(self) -> {{{valueType}}} {
        use {{name}}::*;
        match self {
            {{#enumerations}}
                {{name}} => {{{value}}},
            {{/enumerations}}
        }
    }
}
{{/hasLiteralValue}}

