{{macroTraitsExpr}}
pub enum {{name}} {
{{#enumerations}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    {{name}},
{{/enumerations}}
}
{{#hasValue}}
{{#valueTypeAlias}}
pub type {{valueTypeAlias}} = {{{valueType}}};
{{/valueTypeAlias}}
impl {{name}} {
    pub const fn value(self) -> {{valueTypeAlias}} {
        use {{name}}::*;
        match self {
            {{#enumerations}}
                {{name}} => {{{value}}},
            {{/enumerations}}
        }
    }
}
{{/hasValue}}
