{{macroTraitsExpr}}
pub struct {{name}}{{{typeParametersExpr}}} {
{{#properties}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    pub {{name}}: {{{typeExpr}}},{{#tagLiteralsInlineAfter}} {{{.}}}{{/tagLiteralsInlineAfter}}
{{/properties}}
}

