export interface {{name}}{{{typeParametersExpr}}} {{{supertypesExpr}}}{
    {{#properties}}
    {{#readonly}}readonly{{/readonly}} {{name}}{{#optional}}?{{/optional}}: {{{type}}}{{#unionNull}} | null{{/unionNull}}{{#unionUndefined}} | undefined{{/unionUndefined}}{{propDelimiter}}
    {{/properties}}
}

