type {{name}} = {{valueType}}
const (
{{#enumerations}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    {{name}} {{enumName}} = {{{value}}}{{#tagLiteralsInlineAfter}} {{{.}}}{{/tagLiteralsInlineAfter}}
{{/enumerations}}
)
