var {{name}} = struct {
{{#constants}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    {{name}} {{type}}{{#tagLiteralsInlineAfter}} {{{.}}}{{/tagLiteralsInlineAfter}}
{{/constants}}
}{
{{#constants}}
    {{{value}}},
{{/constants}}
}
