type {{name}} = {{valueType}}
var {{name}}Enums = struct {
{{#enumerations}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    {{name}} {{enumName}}{{#tagLiteralsInlineAfter}} {{{.}}}{{/tagLiteralsInlineAfter}}
{{/enumerations}}
}{
{{#enumerations}}
    {{{value}}},
{{/enumerations}}
}
