type {{name}}{{typeParametersExpr}} struct {
{{#supertypes}}
    {{.}}
{{/supertypes}}
{{#properties}}
    {{#tagLiterals}}
    {{{.}}}
    {{/tagLiterals}}
    {{capitalizedName}} {{{typeExpr}}} `{{{tagsExpr}}}`
{{/properties}}
}
