type {{name}}{{typeParametersExpr}} struct {
{{#supertypes}}
    {{.}}
{{/supertypes}}
{{#properties}}
    {{#tagLiteralsAbove}}
    {{{.}}}
    {{/tagLiteralsAbove}}
    {{capitalizedName}} {{{typeExpr}}} {{{inlineTagsExpr}}}
{{/properties}}
}
