type {{name}} = {{valueType}}
var {{name}}Enums = struct {
{{#enumerations}}
    {{#tagLiterals}}
    {{{.}}}
    {{/tagLiterals}}
    {{name}} {{enumName}}
{{/enumerations}}
}{
{{#enumerations}}
    {{{value}}},
{{/enumerations}}
}
